<?xml version="1.0" encoding="UTF-8"?>
<texture version="1" file="menu.png" type="bitmap" width="1024" height="2048" pixelformat="RGBA_8888" minfilter="linear" magfilter="linear" wrapt="clamp" wraps="clamp" premultiplyalpha="false">
    <!-- Created with TexturePacker http://texturepacker.com -->
    <!--  -->
    <textureregion id="0" src="back_m.png" x="906" y="54" width="72" height="72" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="72" srcheight="72"/>
    <textureregion id="1" src="bgnew.png" x="2" y="2" width="800" height="600" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="800" srcheight="600"/>
    <textureregion id="2" src="buttonlong.png" x="2" y="1212" width="400" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="400" srcheight="50"/>
    <textureregion id="3" src="buttonshort.png" x="804" y="54" width="100" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="100" srcheight="50"/>
    <textureregion id="4" src="buttonshortdone.png" x="906" y="2" width="100" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="100" srcheight="50"/>
    <textureregion id="5" src="buttonshortfull.png" x="804" y="2" width="100" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="100" srcheight="50"/>
    <textureregion id="6" src="credits.png" x="2" y="604" width="800" height="150" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="800" srcheight="150"/>
    <textureregion id="7" src="levelselect.png" x="2" y="1060" width="800" height="150" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="800" srcheight="150"/>
    <textureregion id="8" src="settings.png" x="2" y="908" width="800" height="150" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="800" srcheight="150"/>
    <textureregion id="9" src="title.png" x="2" y="756" width="800" height="150" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="800" srcheight="150"/>
</texture>
