<?xml version="1.0" encoding="UTF-8"?>
<texture version="1" file="menu.png" type="bitmap" width="512" height="64" pixelformat="RGBA_8888" minfilter="linear" magfilter="linear" wrapt="clamp" wraps="clamp" premultiplyalpha="false">
    <!-- Created with TexturePacker http://texturepacker.com -->
    <!--  -->
    <textureregion id="0" src="buttonlong.png" x="2" y="2" width="400" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="400" srcheight="50"/>
    <textureregion id="1" src="buttonshort.png" x="404" y="2" width="100" height="50" rotated="false" trimmed="false" srcx="0" srcy="0" srcwidth="100" srcheight="50"/>
</texture>
